body {
	background-color: #232323;
	margin: 0;
	font-family: "Century Gothic", "Avenir";
}

h1 {
	/*background-color: mediumslateblue;*/
	background: linear-gradient(to right, #0cc916, #4287f5, #f54298, #ede545)!important;
	color: white;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	margin: 0;
	padding: 20px 0;
}

#goalDisplay {
	display: block;
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
	font-weight: 700;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

button {
	font-family: "Century Gothic";
	font-weight: 700;
	font-size: inherit;
	color: #4287f5;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: none;
	border: none;
	height: 100%;
	/*remove the outline on clicked buttons that the browser adds*/
	outline: none;
	/*all style changes on buttons will take 0.3 seconds to execute*/
	transition: all 0.3s;
	/*to make the transition property usable on more browsers, add:*/
	-webkit-transition: all 0.3s;
	/*browsers like safari use webkit*/
	-moz-transition: all 0.3s;
	/*browsers like firefox use mozilla*/
}

button:hover {
	color: white;
	background-color: #0cc916;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	/*rounded edges on squares*/
	border-radius: 30px;
	/*when square color changes, fade out*/
	transition: background 0.6s;
	/*to make the transition property usable on more browsers, add:*/
	-webkit-transition: background 0.6s;
	/*browsers like safari use webkit*/
	-moz-transition: background 0.6s;
	/*browsers like firefox use mozilla*/
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

.selected {
	background: #f54298;
	color: white;
}