body{
	font-family: Georgia, serif;
	background-color: #25A888;
}

.sideborder img {
	width: 100%;
	border: 2px solid white;

}

.header{
	/*margin: 0 5em;*/
	background-color: #441207;
	border: 5px #fff solid;
	color: #fff;
	text-align: center;
	line-height: 10px;
	font-family: Papyrus, serif;
}

.header img {
	margin-bottom: 10px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

#navbar button {
	border: 1px solid #fff;
	margin: 10px;
}

#navbar .nav-link {
	color: #fff;
	font-size: 19px;
}

#navbar .nav-link:hover {
	color: #25A888;
}

#navbarSupportedContent {
	width: 100%;
	border: 3px solid #fff;
	background-color: #441207;
	padding-left: 10px;
	text-align: center;
}

#navbarSupportedContent ul {
	width: 100%;
	justify-content: space-around;
}

.container1{
	margin: 10px 0;
	/*margin: 10px 30em;*/
	text-align: center;
	color: #fff;
	border: 3px solid white;
	background-color: #441207;
}

.container1 h4 {
	margin: 0;
	font-size: 18px;
}

#fbButton {
	background-color: #324a9c;
	font-size: 16px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

.paragraph{
	text-align: center;
	/*margin: auto 50px;*/
	padding: 20px 40px;
	line-height: 25px;
	background-color: #441207;
	border: 5px #fff solid;
	color: #fff;
	font-size: 20px;
}

.paragraph h2{
	padding: 10px 0 30px 0;
}

#row2 {
	margin: 40px 0;
}

#menu {
	background-color: #441207;
	text-align: center;
	border: 5px #fff solid;
	color: #fff;
	padding: 10px 0;
	/*margin: 10px;*/
}

#menu img {
	margin: 15px;
}

.orderform{
	width:100%;
	height: 100%;
	padding: 20px;
	/*margin: 10px;*/
	border: 5px #fff solid;
	background-color: #441207;
	color: white;
}

.orderform h2{
	padding: 10px 0;
	line-height:10px;
	text-align: center;
	color: #fff;
	/*font-family: Papyrus, serif;*/
}

.orderform h4{
	color: #fff;
}

.orderform label{
	display:block;
	padding-top: 10px;
	color: #fff;
}

.orderform input[type="text"], .orderform textarea{
	width: 100%;
}

.orderform input[type="submit"] {
	background-color: #25A888;
	color: white;
}

.orderform input[type="submit"]:hover{
	background-color:yellow;
	color: black;
}

#merch {
	border: 5px #fff solid;
	background-color: #441207;
	color: white;
	height: 100%;
	font-size: 20px;
	padding: 10px 20px;
	/*margin: 10px;*/
	text-align: center;
}

#merch h2 {
	text-align: center;
	padding-bottom: 20px;
}

#merch p {
	padding: 20px;
}

#merch img {
	border: 3px solid white;
	margin: 10px;
}

#origShirts {
	margin: 10px 0;
}

#aboutSection {
	margin: 5% 10%;
}

#aboutSection h1,h2 {
	text-decoration: underline;
}

#aboutSection p {
	margin: 5% 15%;
}

section {
	margin-bottom: 20%;
}

.ingPics img {
	width: 100%;
	height: 100%;
	/*padding: 10%;*/
}