body {
	font-family: Roboto;
	background: #7F7FD5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	background-color: #f7f7f7;
	width: 360px;
	margin: 100px auto;
	
}

h1 {
	background-color: #382999;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-family: "Roboto Slab", serif;
	font-size: 24px;
	font-weight: normal;
}

.fa-plus {
	float: right;
}

input {
	background-color: #dbd3f0;
	color: #382999;
	border: rgba(0, 0, 0, 0); 
	/*invisible border used to take up space around input to 
	make it flush with header*/
	width: 100%;
	height: 40px;
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
}

input:focus {
	background-color: white;
	border: 3px solid #382999;
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background-color: #fff;
	color: #666;
	line-height: 40px;
	height: 40px;
}

li:nth-child(2n) {
	background-color: #e1e5f2;
}

li span {
	background-color: #e8106e;
	color: white;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	width: 0; /*set to 0 initially so it is hidden*/
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

/*when you hover over an li, the span appears*/
li:hover span {
	width: 40px;
	opacity: 1.0;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

